[phases.setup]
nixPkgs = ["php", "php82Extensions.composer"]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader"
]

[phases.build]
cmds = [
  "sed -i 's/BASE_URL_PLACEHOLDER/${BASE_URL}/g' config.php",
  "sed -i 's/DB_HOST_PLACEHOLDER/${DB_HOST}/g' config.php",
  "sed -i 's/DB_NAME_PLACEHOLDER/${DB_NAME}/g' config.php",
  "sed -i 's/DB_USERNAME_PLACEHOLDER/${DB_USERNAME}/g' config.php",
  "sed -i 's/DB_PASSWORD_PLACEHOLDER/${DB_PASSWORD}/g' config.php"
]
